/* Fonts */

@font-face {
    font-family: "Cuprum Regular";
    src: url("../fonts/cuprum.woff");
  }
  
  @font-face {
    font-family: "Cuprum Bold";
    src: url("../fonts/cuprumbold.woff");
  }
  
  @font-face {
    font-family: "Cuprum Bold Italic";
    src: url("../fonts/cuprumbolditalic.woff");
  }
  
  @font-face {
    font-family: "Cuprum Italic";
    src: url("../fonts/cuprumitalic.woff");
  }
  
  @font-face {
    font-family: "PT Sans Regular";
    src: url("../fonts/ptsans.woff");
  }

  @font-face {
    font-family: "PT Sans Bold";
    src: url("../fonts/ptsansbold.woff");
  }
  

:root {
 --header-layout: #293449;
 --button: #EE3643;
 --nav-color: #32425C;
 --click-on-logo: #BA2732;
 --orange: #FFBF47;
 --blue: #3BBCE3;
 --purple: #DC91D8;
 --green: #8ED78F;
 --white: #FFFFFF;
 --popular: #F9F5F0;

}

/* global */

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: black;
}

.contacts-header .tel-head {
    font-size: 21px; 
    color: var(--button);
}

a {
    text-decoration: none;
    color: var(--white);
}

.button {
    display:block;
    background-color: var(--button);
    width: 192px;
    height: 38px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

ul {
    line-height: 24px;
    display: inline-block;
    list-style-type: none;
}

.button:hover {
    background: #CA2C37;
}

.button:focus {
    background: var(--click-on-logo);
}

.footer-nav .footer-menu:hover,
.writeus .mail:hover,
.writeus .tel:hover {
    text-decoration: underline;

}

.writeus a:focus {
    color: #EE3643;
}

.footer-nav ul:focus {
    mix-blend-mode: normal;
    opacity: 0.5;
}

.header-nav .menu-item:focus {
    background: #1D2739;
    box-shadow: inset 0px -5px 0px #293449;
    color: #FFFFFF;
}

.header-nav .menu-item:hover {
    background: #293449;
    box-shadow: inset 0px -5px 0px #293449;
}

/* Header */

.cap {
    background: #293449;
}

.logo {
    background-color: var(--button);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.header-logo {
    padding: 12px 56px 17px 56px;
}

.header-logo:focus, 
.footer-logo:focus{
    background-color: var(--click-on-logo);
}

.footer-logo {
    padding: 20px 41px 25px 41px;
}

.loginfield {
    background-color: var(--white);
    font-size: 21px;
}

.login,
.registration {
    font-family: "Cuprum Regular", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;  
    color: #000000;
}

.myorders,
.cab {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--nav-color);
}

.order {
    background-color: #63A63E;
    width: 150px;
    height: 42px;
}

.header-nav li {
    display: inline;
}

.header-menu {
    background: #32425C;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.about {
    color: red;
    font-style: italic;
}

.contacts-header {
    color: #32425C;
    font-style: normal;
}

.menu-item a {
    line-height: 24px;
    color: var(--white);
  }

.afterhead {
    background: #F1F5F7;
}

.adress-head {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #32425C;;
}

/* Main */

body {
    font-family: "Cuprum Regular", "TimesNewRoman", sans-serif;
    min-width: 960px;
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 18px;
}

.feature__block {
    width: 300px;
    height: 123px;
    box-sizing: border-box;
    background-color: var(--orange);

}

.feature__block {
    background-color: var(--orange);
}

.feature__block--blue {
    background-color: var(--blue);
}

.feature__block--purple {
    background-color: var(--purple);
}

.feature__block--green {
    background-color: var(--green);
}

.feature-4 {
    width: 620px;
    height: 266px;
    background: url(../img/Layer-99.png);
}

.features h2 {
    color: var(--white);
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
}

.featurebox { 
    display: block; 
    font-family: "Cuprum Regular", "TimesNewRoman", sans-serif; 
    font-style: normal; 
    font-size: 14px; 
    line-height: 18px; 
    background: rgba(255, 255, 255, 0.3); 
    mix-blend-mode: normal; 
    width: 135px; 
    height: 38px; 
}

h2 a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.root {
    font-family: "PT Sans", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: black;
    text-transform: uppercase;
}

.crossed {
    color: #A9A9A9;
    font-family: "PT Sans", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
}

.catalogfilter {
    font-family: "PT Sans", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    color:black;
}

.product-item {
    width: 220px;
    height: 318px;
    list-style-type: none;
    border: 1px solid #EAEAEA;
}

.goods {
    background: var(--white);
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: inline-block;
}

.popular-text {
    font-family: "Cuprum Regular", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
}

.populararticle {
    width: 940px;
    height: 89px;
    background-color: var(--popular);
}

.pricetag {
    font-family: "PT Sans", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    background-image: url(../img/pricetag.png);
}

.services {
    background: #F1F5F7;
}

h3 {
    font-weight: normal;
    font-style: normal;
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services article {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #32425C;
    text-transform: uppercase;
}

.content-text {
    font-family: "PT Sans", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px; 
    color: #000000;     
}

.filter {
    font-family: "PT Sans", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: black;
    background-color:#F7F3EC;
}

.type {
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    text-transform: uppercase;
}

.delivery {
    font-family: "PT Sans", "TimesNewRoman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px; 
    color: var(--nav-color);  
}

.warrants {
    background: #32425C;
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.warrants li {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--white);
}

.warrants a:hover {
    background: #293449;
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
    color: var(--white);
}

.warrants a:focus {
    background-image: var(--white);
}

.trucking li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

/* footer */

.main-footer {
    background: #32425C;
}

.footer-nav li {
    display: inline;
    color: var(--white);
}

.adress {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #F3F7F9;
}

.lowfooter {
    background: #293449;
}

.lowfooter p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--white)
}

.writeus a {
    color: #FFD180;
}

.footer-nav a {
    color: var(--white);
}

li .secondfloor {
    color: #FFD180;
}
